#rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#main {
   display: table;
   width: 50%;
}

body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ), url('../images/invitation-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer {
    padding-bottom: 30px;
}

#header {
    background-color: #222;
}