<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Austin</h2>
            <hr class="primary">
            <p>
                If you've never been to Austin before, don't expect to see cowboys and horses.


            </p>
            <hr class="primary">
            <h3>Getting Here</h3>
            <p>
                If you're coming from Philadelphia, American Airlines offers 2 non-stop flights a day to Austin.
                Those coming from Newark will find frequent non-stops on United and Southwest.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Here's a short list of recommendations on places to stay.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hotel 1</th>
                    <td>
                        Description 1
                    </td>
                </tr>
                <tr>
                    <th>Hotel 2</th>
                    <td>
                        Description 2
                    </td>
                </tr>
                <tr>
                    <th>AirBnB</th>
                    <td>
                        Description of where to book.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>Hey!  Did you know that Austin is basically the coolest place ever?  Well, we think so and we
                have...extensive experience with all of the fun things to do.  Here are some of our favorite recommendations:
            </p>
            <h4>BBQ</h4>
            <p>
                You can't come all the way to Texas and not try some BBQ.  We recommend
                <a href="http://terryblacksbbq.com/">Terry Black's</a>, but won't stop you if you want to wait in the
                famous 5-hour line at <a href="https://franklinbbq.com/">Franklin</a>.
                Eat like a local and ask for "fatty brisket".  Be sure to leave the sauce on the side!
            </p>
            <h4>Tex-Mex</h4>
            <p>
                
            </p>
            <h4>Drinks</h4>
            <p></p>
            <h4>Golf</h4>
            <p></p>
            <h4>Nature</h4>
            <p></p>
            <h4>Museums</h4>
            <p></p>
            <h4>Nightlife</h4>
            <p></p>
        </div>
    </div>
</div>
