<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Austin</h2>
            <hr class="primary">
            <p>
                If you've never been to Austin before, don't expect to see cowboys and horses.  Do expect to enjoy
                some of the best food and drinks you've ever had.  April is kind of a transition month between
                warm and hot, with average highs in the 80s-90s and lows in the 50s-60s.

                Here's the breakdown on some of our favorite areas in town:
                <ul>
                    <li>
                        <a href="https://www.google.com/maps/@30.267034,-97.7477446,16.09z">Downtown Austin</a> - the area
                        just north of Town Lake (a.k.a. Lady Bird Lake, a.k.a. the Colorodo River) definitely has the
                        highest density of restaurants and bars.  It's a very walkable area, particularly if you decide
                        to stay in one of the many great hotels downtown.
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/1LXUaZ1RuWt">Rainey Street</a> is a cool neighborhood with lots
                        of places to grab a drink or a bite to eat.
                    </li>
                    <li>
                        Known as <a href="https://www.google.com/maps/@30.2606801,-97.7271285,15.75z">"The Eastside"</a> or
                        "East 6th Street", the trendy area east of I-35 has a lot to offer in terms of nightlife.
                    </li>
                </ul>
            </p>
            <hr class="primary">
            <h3>Getting Here</h3>
            <p>
                If you're coming from Philadelphia, American Airlines offers 2 non-stop flights a day to Austin.
                Those coming from Newark will find frequent non-stops on United and Southwest.  Both Uber and Lyft serve
                Austin, and if you're staying somewhere near downtown, you could get around pretty easily with ridesharing.
                If you do decide to rent a car, all the major rental companies are available at the airport.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Here's a short list of recommendations on places to stay.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hotel 1</th>
                    <td>
                        Description 1
                    </td>
                </tr>
                <tr>
                    <th>Hotel 2</th>
                    <td>
                        Description 2
                    </td>
                </tr>
                <tr>
                    <th>AirBnB</th>
                    <td>
                        Description of where to book.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>Hey!  Did you know that Austin is basically the coolest place ever?  Well, we think so and we
                have...extensive experience with all of the fun things to do.  Here are some of our favorite recommendations:
            </p>
            <h4>BBQ</h4>
            <p>
                You can't come all the way to Texas and not try some BBQ.  We recommend
                <a href="http://terryblacksbbq.com/">Terry Black's</a>, but won't stop you if you want to wait in the
                famous 5-hour line at <a href="https://franklinbbq.com/">Franklin</a>.
                Eat like a local and ask for "fatty brisket".  Be sure to leave the sauce on the side!
            </p>
            <h4>Tex-Mex</h4>
            <p>
                Lucky for you, we consider ourselves taco aficionados and are very opinionated about the subject.
                Here are some of our favorite taco suggestions:
                <ul>
                    <li><a href="https://www.tacodeli.com/">Tacodeli</a> - with locations all over town, there's no
                    excuse to leave without hitting up tacodeli for at least one meal.  Good for both lunch and
                    breakfast tacos (yes, that's a thing).
                    </li>
                    <li><a href="https://torchystacos.com/">Torchy's</a> - another Austin classic with lots of locations.
                        Our favorite taco is the Trailer Park (make sure to get it "trashy"), and their queso
                        is the best in town.
                    </li>
                    <li>
                        <a href="http://www.veracruzallnatural.com/">Veracruz All Natural</a> - this might be our new
                        favorite taco joint.  Try the Migas taco, it'll change your life.
                    </li>
                </ul>
            </p>
            <p>
                If you're looking for heartier fare, all of the following restaurants are great for dinner:
                <ul>
                    <li>
                        <a href="http://www.trudys.com/index.php">Trudy's</a> - you can't get much more Austin than
                        Trudy's.  Treat yourself to a Mexican Martini (careful, they're strong!) and try the stuffed
                        avocado.
                    </li>
                    <li>
                        <a href="https://www.lacondesa.com/">La Condesa</a> - for a bit more formal of a dinner, check
                        out La Condesa (especially if you're staying near downtown).  Their craft cocktails are excellent,
                        and small plates are great for sharing.
                    </li>
                    <li>
                        <a href="https://www.currasgrill.com/">Curra's</a> - if you're staying near the Wildflower Center,
                        this is a great place for dinner.  Like avocado?  Like margaritas?  Why not combine the two with one
                        of their signature avocado margaritas?
                    </li>

                </ul>
            </p>
            <h4>Other Great Restuarants</h4>
            <ul>
                <li>
                    <a href="http://grajmahalaustin.com/">G'Raj Mahal</a> is a good spot for Indian food, located right
                    on Rainey Street.
                </li>
                <li>
                    <a href="http://www.littledeliandpizza.com/">Little Deli</a> - John's absolute favorite pizza place
                    (probably because they're actually from NJ).  Bonus: it's BYOB.
                </li>
            </ul>
            <h4>Beer</h4>
            <p>
                There are more breweries per capita in Austin than any place outside of Bavaria.  Ok, we made that up
                but there are lots of great options for those that want to experience the best of our local craft
                beer scene.
                <ul>

                    <li>
                        <a href="http://liveoakbrewing.com/">Live Oak Brewing</a> - if you want to start the trip off
                        right, pop in to Live Oak on your way home from the airport.  Their Hefeweizen is Katharine's favorite beer ever.
                    </li>
                    <li>
                        <a href="https://theabgb.com/">ABGB</a> - short for Austin Beer Garden & Brewery, ABGB has something
                        for everyone.  They brew their own beers, and they have all the local hits on tap.  Plus, there's
                        a great selection of food.
                    </li>
                    <li>
                        <a href="http://www.lazarusbrewing.com">Lazarus</a> - if you're planning a trip to the hip Eastside,
                        make sure to put Lazarus on your list of places to stop for a beer.  They have a great outdoor space, and the
                        beers are strong and hoppy.  If that's not your thing, it's a short
                        walk to <a href="http://www.zilkerbeer.com/">Zilker Brewing Company</a>,
                        <a href="http://www.hopsandgrain.com/">Hops & Grain</a>, and <a href="http://blueowlbrewing.com/">Blue Owl</a>
                        (all great options).
                    </li>
                    <li>
                        <a href="http://www.oasistexasbrewingcompany.com/">Oasis Brewing</a> - if you're renting a car and would
                        like to drink a beer at one of the best places to watch a sunset in Austin, you should consider heading
                        over to Oasis Brewing.
                    </li>
                    <li>
                        <a href="https://jesterkingbrewery.com/">Jester King</a> - this one also requires a car, but if you're a beer nerd you
                        owe it to yourself to make a pilgrimage here.
                        Jester King is on a farm about half an hour outside the city.  What makes them unique is they brew all their
                        beer with wild yeast, which gives all their beers a funky sour edge.  It's probably the most unique brewery
                        in the world.
                    </li>
                </ul>
            </p>
            <h4>Cocktails</h4>
            <p>
                John knows a thing or two about cocktails (OK, he may actually make his own cocktail ice...).  Here are some
                of his favorite places to grab a drink around town.
                <ul>
                    <li>
                        <a href="http://halfstepbar.com/">Half Step</a> - if you're out on Rainey Street, be sure to stop by
                        Half Step.  It's one of our favorite places (and John likes their ice).
                    </li>
                    <li>
                        <a href="https://whislersatx.com/">Whisler's</a> - located on the hip "East Side" of town,
                        Whisler's has a bit of everything.  Head upstairs to their tiny candlelit Mezcal bar
                        if you really want to try something different (or feel like you're in the bar in the movie
                        <i>From Dusk till Dawn</i>).
                    </li>
                </ul>
            </p>
            <h4>Nature</h4>
            <p>
                Austin has some great outdoor spaces right in the city that we highly recommend you spend some time in.
                Here are some of our favorites:
                <ul>
                    <li>
                        <a href="https://www.austintexas.org/listings/ann-and-roy-butler-hike-and-bike-trail-and-boardwalk-at-lady-bird-lake/4369/">Town Lake Trail</a>
                        is easily accessible from Downtown and offers great views of the city and its urban parks.  The entire loop
                        is 10 miles, but you can break it up into smaller pieces.  Our favorite route is to take the pedestrian bridge
                        near Lamar south over the river, then turn West through Zilker Park and cross the river at the pedestrian bridge
                        underneath Mopac.  <a href="https://www.strava.com/routes/15533292">Here's</a> a map of the route we suggest.
                    </li>
                    <li>
                        <a href="http://www.austintexas.gov/department/barton-springs-pool">Barton Springs Pool</a> is truly
                        a unique Austin experience.  It's a natural spring-fed swimming pool in the heart of the city.  The water
                        is always chilly and refreshing, but it's still worth checking out even if you don't feel like getting wet.
                        It's just a short walk from Zilker Park and the Town Lake Trail.
                    </li>
                </ul>
            </p>
            <h4>Golf</h4>
            <p>
                <ul>
                    <li>
                        <a href="https://www.wolfdancergolfclub.com/">Wolfdancer Golf Club</a> - located about 30 minutes
                        south of Austin in Bastrop, Wolfdancer is one of the premier courses in the area.
                    </li>
                    <li>
                        <a href="http://www.falconheadaustin.com/">Falconhead Golf Club</a> - not far from downtown, but
                        with a less scenic layout.
                    </li>
                    <li>
                        <a href="http://www.shadowglengolf.com/">Shadowglen</a> is probably the best value on this list.
                        It's a great round for a good price, about 30 minutes east of town.
                    </li>

                </ul>
            </p>
            <h4>Museums & Culture</h4>
            <p>
                <ul>
                    <li>
                        <a href="https://www.thestoryoftexas.com/visit">Bob Bullock Texas History Muesum</a> is
                        a great place to learn all about the great Lone Star state.
                    </li>
                    <li>
                        <a href="https://tspb.texas.gov/prop/tcvc/cvc/cvc.html">Texas State Capitol</a> - everything's
                        bigger in Texas, including the state Capitol.  The building's dome is modeled on the
                        U.S. Capitol's dome (scaled up, of course).
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
