{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            We understand that weddings can be expensive to attend, especially for our guests traveling
            from out of town, so please feel no obligation to get us anything.
            If you do decide to get us a gift, know that we'll likely be moving in the next few months so
            physical gifts might make things a little difficult.
            We have a small registry and have set up a fund where you can contribute
            to the down payment we've been saving for our first house.  All of this can be found
            <a href="https://registry.theknot.com/john-jardel-katharine-heffner-april-2019-tx/30548524">here</a>.
        </p>
        <p>
            Honestly, the best gift of all would be your presence on our big day!
        </p>
</div>
