{% load staticfiles %}
<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">John and Katharine got engaged at one of their favorite spots overlooking Lake Austin</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                <img src="{% static 'bigday/images/360-top.jpg' %}" style="padding-left:7%;float:right;max-width: 50%;overflow: auto">
                John and Katharine had been dating for almost 5 years, so it wasn't exactly shocking that John would
                one day ask Katharine to marry him.  Still, John tried his best to make their proposal as surprising
                as he could.  Katharine had been dropping lots of hints about what she wanted: we needed to get a good
                picture of the proposal, she had to have her nails done, and it also needed to be a surprise.  To make
                things even more difficult, Katharine was in her OB/GYN rotation and was on call most weekends
                and didn't really know her work schedule more than 24 hours in advance.
            </p>
            <p>
                Eventually, John found a Sunday that would work.  The plan was to meet some out-of-town friends
                for brunch that would turn into a scavenger hunt that John had planned.
                Our brunch companions, Ryan and Mary Ellen Kilpatrick,
                were in on the rouse and even helped talk John down when
                he called them, panicked, the day before, convinced that Katharine was onto his plans.
                Towards the end of the meal, John snuck away and Katharine was led on a scavenger hunt through
                some of the places in Austin that held special meaning in their lives.  John thought of everything,
                even ensuring there was a stop for doughnuts and one to get her nails done.
            </p>
            <p>
                Finally, the clues led to a scenic overlook that happened to be one the spot of one of their first
                dates.  John placed candles and photographs of the two of them
                along the steps of the short hike (which, apparently, some passersby mistook for a memorial service).
                Katharine crested the hill to find John...and 50 complete strangers that decided that they wanted to
                watch the big event.  Katharine said yes, and we got a great picture of the proposal (thanks, Kevin!).
                Also, a Nepalese grandmother took a picture with us because, why not?
            </p>
        </div>
    </div>
</section>
