{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                <img src="{% static 'bigday/images/sam-howling.jpg' %}" style="padding-left:2%;float:right;max-width: 30%;overflow: auto">
                John and Katharine first met at a Halloween party in 2012.  John was dressed as a disgraced Lance Armstrong
                and Katharine was Thing 1 from the Cat in the Hat.  Ironically, the party was at John's best man's house
                and Katharine's maid of honor was Thing 2.  John and Katharine had an overlapping group of friends, and
                over the next few months they just kept running into each other.
            </p>
            <p>
                Fortunately, they hit it off and started dating in March of 2013.
                Katharine slowly turned John into a hipster and John eventually convinced Katharine that
                bacon is delicious despite the fact that pigs are cute.  They've enjoyed every moment they've shared
                together over those 6 years--especially moments where they've shared a great meal
                (probably cooked by John) or watched a sunset from one of the 14 National Parks they've visited together
                (that's kinda their thing).  On Father's Day 2017, they gained a new family member to share life with
                when they adopted Sam, a Chesapeake Bay/Lab Retriever mix.  John, Katharine, and Sam are excited
                to see what comes next in life and are happy they get to experience it together.
            </p>
        </div>
    </div>
</div>
